<%- include('partials/header') %>
<div class="container mt-5">
  <h1><%= title %></h1>
  <ul>
    <li>JavaScript para Iniciantes</li>
    <li>Node.js e Express</li>
    <li>Front-end com React</li>
  </ul>
</div>
<%- include('partials/footer') %>